html {
	position: relative;
	min-height: 100%
}

body {
	margin: 0 0 47px;
	background-color: yellow;
}

#th-header, #th-footer {
	background-color: #3BDBF8;
	height: 47px;
}

#container {
	margin: 0 auto;
}

#sidebar {
	float: left;
	min-height: 20%;
	position: absolute;
	background-color: #CCC;
	width: 200px;
}

#main {
	text-align: center;
	float left;
}

#th-footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 47px;
	width: 100%;
}

